/* Add CSS */
/* Add global CSS here */
.secondDiv {
    border: 2px solid #000
}
.container-fluid {
    height: 100vh;
}
.fse-header {
    background-color: lightgrey;
    height: 100px;
    border: 2px solid black;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
}
.fsd-title {
    text-align: center;
}

.welcomeUser {
    margin: 20px;
}
.fsd-user {
    text-align: left;
}
.fse-searchBox {
    text-align: center;
}
.title {
    margin-left: 200px;
    margin-top: 15px;
}
.searchBox {
    margin-top: 25px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.question-header {
    display: flex;
    height: 110px;
    border-bottom: 2px dotted black;
}
.ask-question-header {
    display: flex;
    height: 70px;
}
.sort {
    background-color: gray; /* Green */
    border: 1px solid darkgray;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.sort:hover {
    background-color: #4b4d4c;
}
.tag{
    margin: 2px;
    border-radius: 12px;
    background-color: gray;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 5px;
}
.scroll {
    background-color: whitesmoke;
    height: 435px;
    overflow-y: auto;
    padding: 10px;
}
.parent-div {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    overflow-y: auto;
}

.postTitle {
    margin-top: 10px;
}

.tag:hover {
    background-color: #4b4d4c;
}

.questionMiddle {
    width: 70%;
}

.previous {
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.previous:hover {
    background-color: deepskyblue;
}

.previous:disabled {
    background-color: grey;
}

.next {
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.next:hover {
    background-color: deepskyblue;
}

.addComments {
    width: 10rem;
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 0px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: left;
    margin: 5px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addComments:hover {
    background-color: deepskyblue;
}

#askQuestions {
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin-top: 0px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#askQuestions:hover {
    background-color: deepskyblue;
}
.sortButtons {
    float: right;
    margin-top: 50px;
}

.askQuestions {
    float: right;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: lightgrey;
    border-color: #0d6efd;
}

.list-div {
    width: 200px !important; border-right: 2px dotted #000;
}

.list-group-div {
    margin-top: 50px; padding: 3px; margin-left: 10px;
}
.fse-list-group-item {
    background-color: skyblue; border-color: skyblue;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: lightgrey !important;
    border-color: lightgrey !important;
}

.noOfQuestions {
    margin-top: 30px;
}

.mainDiv {
    height: 570px;
    overflow-y: auto;
}

.card {
    border: 2px dotted black;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.questionLink {
    text-decoration: none;
}

#postAnswerButton {
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#postAnswerButton:hover {
    background-color: deepskyblue;
}

.askQuestions {
    background-color: skyblue; /* Green */
    border: 1px solid skyblue;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius : 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.askQuestions:hover {
    background-color: deepskyblue;
}

.questionDetailsHeader {
    display: flex; justify-content: space-between; padding: 1rem;
}

.questionDetailAsker {
    display: flex; flex-direction: column-reverse
}

.questionDetailAnswerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px dotted #000;
    border-bottom: 2px dotted #000;
}

.questionDetailAnswerer {
    display:flex; flex-direction:column; width: 20%;
}

.newAnswerButtonContainer {
    display:flex;justify-content: space-between; padding-top: 2rem;
}